@model AssetTrack.Models.Peminjaman

@{
    ViewData["Title"] = "Detail Peminjaman";
}

<form method="post">

    <input type="hidden" asp-for="Id" />

    <div class="card shadow-sm border-0 rounded-4 p-4">

        <h3 class="fw-bold mb-4">
            Detail Peminjaman
        </h3>

        <div class="row g-3">

            <div class="col-lg-6 mb-3">
                <label class="form-label fw-bold">
                    Nama Peminjam
                </label>

                <input type="text"
                class="form-control"
                value="@Model.NamaPeminjam"
                disabled />
            </div>

            <div class="col-lg-6 mb-3">
                <label class="form-label">
                    Asset
                </label>

                <input type="text"
                class="form-control"
                value="@Model.Asset.NamaAsset"
                disabled /> 
            </div>

            <div class="col-lg-6 mb-3">
                <label class="form-label fw-bold">
                    Jumlah Pinjam
                </label>

                <input type="text"
                class="form-control"
                value="@Model.JumlahPinjam"
                disabled />
            </div>

            <div class="col-lg-6 mb-3">
                <label class="form-label fw-bold">
                    Tanggal Pinjam
                </label>

                <input type="text"
                class="form-control"
                value="@Model.TanggalPinjam.ToShortDateString()"
                disabled />
            </div>

            <div class="col-lg-6 mb-3">
                <label class="form-label fw-bold">
                    Tanggal Kembali
                </label>

                <input type="text"
                class="form-control"
                value="@Model.TanggalKembali.ToShortDateString()"
                disabled />
            </div>

            <div class="col-lg-6 mb-3">
                <label class="form-label fw-bold">
                    Lokasi
                </label>

                <input type="text"
                class="form-control"
                value="@Model.Lokasi"
                disabled />
            </div>

            <div class="col-lg-6 mb-3">
                <label class="form-label fw-bold">
                    Status
                </label>

                <input type="text"
                class="form-control"
                value="@Model.Status"
                disabled />
            </div>

            <div class="col-12 mb-3">
                <label class="form-label fw-bold">
                    Deskripsi
                </label>

                <textarea class="form-control"
                rows="4"
                disabled>@Model.Deskripsi</textarea>
            </div>

        </div>

        <hr class="border-2 my-4" />

        <input type="hidden" asp-for="Id" />

        <div class="mb-4">

            <label class="form-label fw-bold">
                Notes
            </label>

            <textarea asp-for="Notes"
            class="form-control"
            rows="4"></textarea>
        </div>

        @if (Model.Status == "Pending")
        {
            <div class="d-flex justify-content-end gap-2">

                <button type="submit"
                    formaction="/PeminjamanAdmin/Approve/@Model.Id"
                    class="btn btn-success">
                    Approve
                </button>

                <button type="submit"
                    formaction="/PeminjamanAdmin/Reject/@Model.Id"
                    class="btn btn-danger">
                    Reject
                </button>

            </div>
        }

    </div>

</form>