@model List<AssetTrack.Models.Peminjaman>

@{
    ViewData["Title"] = "Data Peminjaman Admin";
}

<h2 class="mb-4">Data Peminjaman Admin</h2>

<style>
    .badge {
        padding: 8px 12px;
        font-size: 13px;
        border-radius: 10px;
    }
</style>

<div class="card shadow-sm border-0 rounded-4 p-4">

    <form method="get" class="row g-3 mb-4">

        <!--SEARCH-->
        <div class="col-md-4">
            <input type="text"
                id="searchBox"
                class="form-control"
                placeholder="Cari nama peminjam atau aset..."
                value="@Context.Request.Query["search"]" />
        </div>
        
    </form>

    <table class="table table-hover align-middle">

        <thead>
            <tr>
                <th>No</th>
                <th>Nama Peminjam</th>
                <th>Asset</th>
                <th>Jumlah</th>
                <th>Tanggal Pinjam</th>
                <th>Tanggal Kembali</th>
                <th>
                    <div class="dropdown">

                        <button class="btn btn-sm dropdown-toggle fw-bold p-0 border-0 bg-transparant"
                            type="button"
                            data-bs-toggle="dropdown">
                            Status
                        </button>

                        <div class="dropdown-menu p-3">

                            <form method="get">

                                <!-- SEARCH -->
                                <input type="hidden"
                                       name="search"
                                       value="@Context.Request.Query["search"]" />

                                <!-- PENDING -->
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           name="status"
                                           value="Pending"
                                           @(Context.Request.Query["status"].Contains("Pending") ? "checked" : "") />

                                    <label class="form-check-label">
                                        Pending
                                    </label>
                                </div>

                                <!-- DISETUJUI -->
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           name="status"
                                           value="Disetujui"
                                           @(Context.Request.Query["status"].Contains("Disetujui") ? "checked" : "") />

                                    <label class="form-check-label">
                                        Disetujui
                                    </label>
                                </div>

                                <!-- DITOLAK -->
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           name="status"
                                           value="Ditolak"
                                           @(Context.Request.Query["status"].Contains("Ditolak") ? "checked" : "") />

                                    <label class="form-check-label">
                                        Ditolak
                                    </label>
                                </div>

                                <button type="submit"
                                        class="btn btn-dark btn-sm mt-2 w-100">
                                    Filter
                                </button>

                            </form>
                        </div>

                    </div>
                </th>

                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            @{
                int no = 1;
            }

            @foreach (var item in Model)
            {
                <tr>
                    <td>@no</td>
                    <td>@item.NamaPeminjam</td>
                    <td>@(item.Asset?.NamaAsset ?? "Asset tidak ditemukan")</td>
                    <td>@item.JumlahPinjam</td>
                    <td>@item.TanggalPinjam?.ToString("dd/MM/yyyy")</td>
                    <td>@item.TanggalKembali?.ToString("dd/MM/yyyy")</td>
                    <td>
                        @if (item.Status == "Pending")
                        {
                            <span class="badge bg-warning text-dark">
                                Pending
                            </span>
                        }
                        else if (item.Status == "Disetujui")
                        {
                            <span class="badge bg-success">
                                Disetujui
                            </span>
                        }
                    </td>
                    <td>
                        <a asp-controller="PeminjamanAdmin"
                            asp-action="Detail"
                            asp-route-id="@item.Id"
                            class="btn btn-dark btn-sm">
                            Detail
                        </a>
                    </td>
                </tr>

                no++;

            }

        </tbody>

    </table>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@if (TempData["Success"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Berhasil',
            text: '@TempData["Success"]',
            timer: 2000,
            showConfirmButton: false,
            timerProgressBar: true
        });
    </script>
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    // SEARCH (debounce)
    let timeout = null;
    const searchBox = document.getElementById("searchBox");

    if (searchBox) {
        searchBox.addEventListener("keyup", function () {

            clearTimeout(timeout);

            timeout = setTimeout(() => {

                const value = this.value;

                const params = new URLSearchParams(window.location.search);

                if (value.trim() !== "") {
                    params.set("search", value);
                } else {
                    params.delete("search");
                }

                window.location.href = `/PeminjamanAdmin/Index?${params.toString()}`;

            }, 800);
        });
    }
</script>

@if (TempData["Error"] != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Peminjaman Ditolak',
            text: '@TempData["Error"]',
            timer: 2000,
            showConfirmButton: false,
            timerProgressBar: true
        });
    </script>
}

@if (TempData["Warning"] != null)
{
    <script>
        Swal.fire({
            icon: 'warning',
            title: 'Stok Tidak Mencukupi',
            text: '@TempData["Warning"]',
            confirmButtonColor: '#f59e0b'
        });
    </script>
}