@model List<AssetTrack.Models.Peminjaman>

@{
    ViewData["Title"] = "Peminjaman";
}

<h2 class="mb-4">Peminjaman</h2>

<div class="card shadow-sm border-0 rounded-4 p-4 custom-bg">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <!--SEARCH-->
        <div class="d-flex" style="width: 300px;">
            <input type="text"
                id="searchBox"
                class="form-control"
                placeholder="Cari aset..."
                value="@Context.Request.Query["search"]" />
        </div>

        <!--BUTTON-->
        <a href="/Peminjaman/Create" 
            class="btn d-flex align-items-center gap-2"
           style="background: #198754; color:white; border:none;">
            <span class="iconify" data-icon="ic:outline-plus"></span>
            Ajukan Peminjaman
        </a>

    </div>

    <table class="table table-hover align-middle">

        <thead>
            <tr>
                <th>No</th>
                <th>Foto</th>
                <th>Aset</th>
                <th>Jumlah</th>
                <th>Tanggal Pinjam</th>
                <th>Tanggal Kembali</th>

                <th>
                    <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle fw-bold p-0 border-0 bg-transparent"
                        type="button"
                        data-bs-toggle="dropdown">
                            Status
                        </button>

                        <div class="dropdown-menu p-3">
                            <form method="get">

                                <!--SEARCH-->
                                <input type="hidden"
                                name="search"
                                value="@Context.Request.Query["search"]" />

                                <!--PENDING-->
                                <div class="form-check">
                                    <input class="form-check-input"
                                    type="checkbox"
                                    name="status"
                                    value="Pending"
                                    onchange="this.form.submit()"
                                    @(Context.Request.Query["status"].Contains("Pending")
                                                ? "checked" : "") />

                                    <label class="form-check-label">
                                        Pending
                                    </label>
                                </div>

                                <!--DISETUJUI-->
                                <div class="form-check">
                                    <input class="form-check-input"
                                    type="checkbox"
                                    name="status"
                                    value="Disetujui"
                                    onchange="this.form.submit()"
                                    @(Context.Request.Query["status"].Contains("Disetujui")
                                                ? "checked" : "") />

                                    <label class="form-check-label">
                                        Disetujui
                                    </label>
                                </div>

                                <!--DITOLAK-->
                                <div class="form-check">
                                    <input class="form-check-input"
                                    type="checkbox"
                                    name="status"
                                    value="Ditolak"
                                    onchange="this.form.submit()"
                                    @(Context.Request.Query["status"].Contains("Ditolak")
                                                ? "checked" : "") />

                                    <label class="form-check-label">
                                        Ditolak
                                    </label>
                                </div>

                            </form>
                        </div>
                    </div>
                </th>

                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @{
                int no = 1;
            }

            @foreach (var item in Model)
            {
                <tr>
                    <td>@no</td>
                    <td>
                        <img src="/images/@item.Asset.Foto"
                        width="60"
                        height="60"
                        class="rounded"
                        style="object-fit: cover;" />
                    </td>
                    <td>
                        @item.Asset.NamaAsset
                    </td>

                    <td>@item.JumlahPinjam</td>
                    <td>@item.TanggalPinjam?.ToString("dd/MM/yyyy")</td>
                    <td>@item.TanggalKembali?.ToString("dd/MM/yyyy")</td>
                    <td>
                        @if (item.Status == "Verifikasi")
                        {
                            <span class="badge bg-warning text-dark">@item.Status</span>
                        }
                        else if (item.Status == "Disetujui")
                        {
                            <span class="badge bg-success">@item.Status</span>
                        }
                        else if (item.Status == "Ditolak")
                        {
                            <span class="badge bg-danger">@item.Status</span>
                        }
                        else if (item.Status == "Dikembalikan")
                        {
                            <span class="badge bg-primary">@item.Status</span>
                        }
                        else if (item.Status == "Menunggu Pengembalian")
                        {
                            <span class="badge bg-info text-dark">@item.Status</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">@item.Status</span>
                        }
                    </td>

                    <td>
                        @if (item.Status == "Pending")
                        {
                            <a asp-controller="Peminjaman"
                                asp-action="Cancel"
                                asp-route-id="@item.Id"
                                class="btn btn-danger btn-sm btn-cancel">
                                    Batalkan
                            </a>
                        }
                        else if (item.Status == "Disetujui")
                        {
                            <!--DETAIL-->
                            <a asp-controller="Peminjaman"
                            asp-action="Detail"
                            asp-route-id="@item.Id"
                            class="btn btn-primary btn-sm">
                                Detail
                            </a>

                            <!--KEMBALIKAN-->
                            <a asp-controller="Peminjaman"
                            asp-action="Kembalikan"
                            asp-route-id="@item.Id"
                            class="btn btn-warning btn-sm"
                            onclick="return confirm('Ajukan pengembalikan barang ini?')">
                                Kembalikan
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Peminjaman"
                                asp-action="Detail"
                                asp-route-id="@item.Id"
                                class="btn btn-primary btn-sm">
                                Detail
                            </a>
                        }
                    </td>
                </tr>

                no++;
            }
        </tbody>

    </table>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        let timeout = null;
        const searchBox = document.getElementById("searchBox");

        if (searchBox) {

            searchBox.addEventListener("keyup", function () {

                clearTimeout(timeout);

                timeout = setTimeout(() => {

                    const value = this.value;

                    const url =
                        `/Peminjaman/Index?search=${encodeURIComponent(value)}`;

                    window.location.href = url;

                }, 800);

            });

        }

        
        document.querySelectorAll('.btn-cancel').forEach(button => {

        button.addEventListener('click', function (e) {

            e.preventDefault();

            const url = this.href;

            Swal.fire({
                title: 'Batalkan Peminjaman?',
                text: 'Pengajuan peminjaman akan dibatalkan.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#dc3545',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Ya, Batalkan',
                cancelButtonText: 'Kembali'
            }).then((result) => {

                if (result.isConfirmed) {
                    window.location.href = url;
                }

            });

        });

    });

    });
</script>

@if (TempData["Success"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Berhasil',
            text: '@TempData["Success"]',
            timer: 2000,
            showConfirmButton: false,
            timerProgressBar: true
        });
    </script>
}