@model List<AssetTrack.Models.Peminjaman>

@{
    ViewData["Title"] = "Data Pengembalian";
}

<h2 class="mb-4">Approval Pengembalian</h2>

<div class="card shadow-sm border-0 rounded-4 p-4">

    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama Peminjam</th>
                <th>Asset</th>
                <th>Jumlah</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @{
                int no = 1;
            }

            @foreach (var item in Model)
            {
                <tr>
                    <td>@no</td>
                    <td>@item.NamaPeminjam</td>
                    <td>@item.Asset.NamaAsset</td>
                    <td>@item.JumlahPinjam</td>
                    <td>
                        @if (item.Status == "Verifikasi")
                        {
                            <span class="badge bg-warning text-dark">
                                @item.Status
                            </span>
                        }

                        else
                        {
                            <span class="badge bg-success">
                                @item.Status
                            </span>
                        }
                    </td>
                    <td>
                        @if (item.Status == "Verifikasi")
                        {
                            <a asp-controller="Pengembalian"
                                asp-action="Verifikasi"
                                asp-route-id="@item.Id"
                                class="btn btn-success btn-sm">
                                Verifikasi
                            </a>
                        }
                        else
                        {
                            <button class="btn btn-secondary btn-sm" disabled>
                                Selesai
                            </button>
                        }
                    </td>
                </tr>
                no++;
            }
        </tbody>

    </table>

</div>